<% provide(:title, 'Home') %>

<h1>Home</h1>
<h2>mfshamim, Class 7012, Ruby project!!!!</h2>

<ul>
	<li>Link</li>
	<li>to</li>
	<li>pages</li>
	<li>here</li>
	<li>...</li>
	<li><%= link_to 'Example', example_path %>
	<li><%= link_to 'mfshamimTask3a', mfshamimTask2a_path %>
	<li><%= link_to 'mfshamimTask3b', mfshamimTask2b_path %>
</ul>