<% provide(:title, 'Home') %>

<h1>Home</h1>

<ul>
	<li><%= link_to 'Movie Deleter', 'movie-delete' %></li>
	<li><%= link_to 'Movie Index', 'movie-index' %></li>
	<li><%= link_to 'Example', example_path %>
</ul>
