<% provide(:title, 'Home') %>

<h1>Home</h1>

<ul>
	<li>Link</li>
	<li>to</li>
	<li>pages</li>
	<li>here</li>
	<li>...</li>
	<li><%= link_to 'Example', example_path %>
	<li><%= link_to 'Add_Studio(ssgoli)', recommender1a_path %>
	<li><%= link_to 'Studio_Index(ssgoli)', recommender1b_path %>
</ul>
