<h1> The Movie Recommender </h1>
<h2> Movies Index </h2>

This page lists all the movies.
<br>
<br>
<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px DOUBLE #000000;color:#000000;width:100%" cellpadding="3" cellspacing="3">
	<tr>
		<td style="border-bottom: none;"></td>
		<td style="background-color: gray"><center>Title</center></td>
		<td style="background-color: gray"><center>Year</center></td>
	</tr>
	<tr>
		<td style="border-top: none; border-bottom: none;"></td>
		<td>TAKEN 3</td>
		<td>2015</td>
	</tr>
	<tr>
		<td style="border-top: none; border-bottom: none;"></td>
		<td>We Are What We Are</td>
		<td>2013</td>
	</tr>
	<tr>
		<td style="border-top: none; border-bottom: none;"><center><b> All Movies</b></center></td>
		<td>PADDINGTON</td>
		<td>2015</td>
	</tr>
	<tr>
		<td style="border-top: none; border-bottom: none;"></td>
		<td>Room 237</td>
		<td>2013</td>
	</tr>
	<tr>
		<td style="border-top: none; border-bottom: none;"></td>
		<td>A Separation</td>
		<td>2011</td>
	</tr>
	<tr>
		<td style="border-top: none; border-bottom: none;"></td>
		<td>Cold in July</td>
		<td>2014</td>
	</tr>
</table>

