<h1> The Movie Recommender </h1>
<h2> Delete Movie </h2>
<i> Select one or more movie(s) from list below and click Delete Movie</i>
<br>
<br>
<table style="border-style:double;">
	<tr>
		<th>
			C
		</th>
		<th>
			Title
		</th>
		<th>
			Year
		</th>
	<tr>
		<td>
			<input type="checkbox"> </input>
		</td>
		<td>
			TAKEN 3
		</td>
		<td>
			2015
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox"> </input>
		</td>
		<td>
			We Are What We Are
		</td>
		<td>
			2013
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox"> </input>
		</td>
		<td>
			PADDINGTON
		</td>
		<td>
			2015
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox"> </input>
		</td>
		<td>
			Room 237
		</td>
		<td>
			2013
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox"> </input>
		</td>
		<td>
			A Separation
		</td>
		<td>
			2011
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox"> </input>
		</td>
		<td>
			Cold in July
		</td>
		<td>
			2014
		</td>
	</tr>
</table>
<br>
<button> Delete Movie </button> <button> Cancel </button>
<hr>
<a href="#"> HOME </a>
