<Studio>
	<ul>
		<li>Studio Name: <%= @studio.name %></li>
		<li>Studio address: <%= @studio.address %></li>
		<li>Studio URL: <%= @studio.url %></li>
	</ul>
<p> <%= link_to "Show All Studios", studios_path %>
</p>