<% provide(:title, "Review-Add") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>The Movie Recommender</h1>

<table border=1>

<tr>
<td><h2>Add a Review</h2></td>
</tr

<tr>
<td>Movie Title : </td>
<td><input type="text" name="movieTitle"></td>
</tr>

<tr>
<td>Movie Starts :</td>
<td>
<select>
<option value="star1">1 Star</option>
<option value="star2">2 Star</option>
<option value="star3">3 Star</option>
<option value="star4">4 Star</option>
<option value="star5">5 Star</option>
</select>
</td>
</tr>

<tr>
<td>Commentatory :</td>
<td>
<textarea>
</textarea>
</td>
</tr>

<tr>
<td><button type="button">Add Review</button></td>
<td><button type="button">Cancel</button></td>
</tr>

<tr>
<td>Rate the movie and leave comment in the text area above</td>
</tr>
</table>

<hr>


<%= link_to "Home", root_path %>

</body>
</html>