<% provide(:title, 'Review-Index') %>

		<h1>The Movie Recommender</h1>
		<h2>Movie Review Index</h2>
		<table border="1">
			<tr>
				<th colspan=3 align="center">
					All Reviews
				</th>
			</tr>
			<tr>
				<th>Movie Title</th>
				<th>Movie Stars</th>
				<th>Commentary</th>
			</tr>
			 <% @reviews.each do |review|%>
			<tr>
				<td><%= review.title %></td>
<td><%= review.stars %></td>
<td><%= review.commentary %></td>
			</tr>
			<% end %>
			
		</table>
		<i>This page lists all movies reviews</i>
		<hr>

<%= link_to "Home", root_path %>