<% provide(:title, "Review-Index") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>The Movie Recommender</h1>

<h2>Movie Review Index</h2>

<table border=1>

<tr>
<td>All Reviews</td>
</tr>

<tr>
<td>Movie Title</td>
<td>Movie Stars</td>
<td>Commentary</td>
</tr>

<tr>
<td>Taken 3</td>
<td>3</td>
<td>Nearly seven years after the first film became s surprise hit, we are onto the second Taken sequel.<br>
While the story lines might be getting thinner, the fun and exicitement is still there, for the most part.</td>
<tr>


<tr>
<td>Taken 3</td>
<td>4</td>
<td>Worth watching</td>
<tr>


<tr>
<td>Taken 3</td>
<td>3</td>
<td></td>
<tr>

</table>

<br>
<br>
<i>This page lists all movies reviews</i>

<hr>


<%= link_to "Home", root_path %>

</body>
</html>