<!-- <h1>MyStaticPages2#mfshamimTask3b</h1> -->
<!-- <p>Find me in app/views/my_static_pages2/mfshamimTask2b.html.erb</p> -->
<% provide(:title, " Theater-Index ") %>
<!DOCTYPE html>
<html>
<body>
<head>
</head>
<H1>The Movie Recommender</H1>
<H2>Theater Index</H2>
<table border="3" style="width:100%">
    <tr>
    <th colspan="3">All Theathers</th>
  </tr>
  <tr>
    <th>Theater Name</th>
    <th>Theater URL</th>		
    <th>Theater Address</th>
  </tr>
  <tr>
    <td>Palace Cinema</td>
    <td><a href="http://www.theater1url.com/">http://www.theater1url.com/</a></td>		
    <td>5117 Old Summer Rd, Memphis, TN 38122</td>
  </tr>
  <tr>
    <td>Bartlett Cinema Ten</td>
    <td><a href="http://www.theater2url.com/">http://www.theater2url.com/</a></td>		
    <td>2809 Bartlett Blvd, Memphis, TN 38134</td>
  </tr>
  <tr>
    <td>Theatre Memphis</td>
    <td><a href="http://www.theater3url.com/">http://www.theater3url.com/</a></td>		
    <td>630 Parkins Ext, Memphis, TN 38117</td>
  </tr>
  <tr>
    <td>Hollywood 20 Cinema</td>
    <td><a href="http://www.theater4url.com/">http://www.theater4url.com/</a></td>		
    <td>6711 Stage RD, Memphis, TN 38134</td>
  </tr>
  <tr>
    <td>Malco Theatres</td>
    <td><a href="http://www.theater4url.com/">http://www.theater4url.com/</a></td>		
    <td>2809 Bartlett Blvd, Memphis, TN 38134</td>
  </tr>
  <tr>
    <td>CTI 3D Gaint Theater</td>
    <td><a href="http://www.theater5url.com/">http://www.theater5url.com/</a></td>		
    <td>3050 Central Ave, Memphis, TN 38111</td>
  </tr>
  <tr>
    <td>New Century</td>
    <td><a href="http://www.theater6url.com/">http://www.theater6url.com/</a></td>		
    <td>3852 Audie Dr, Memphis, TN 38109</td>
  </tr>
</table>
<p><i>This page lists all the Theaters.</i></p>
<hr>
<%= link_to "HOME", root_path %>
</body>
</html>


