<% provide(:title, " | Studio-Add") %>
<!DOCTYPE html>
<html>
<head></head>
<body>
<H1>The Movie Recommender</H1>
<H2>Add-Studio</H2>
Add a Studio name, Address, and URL and hit Save


<ul>
<li>Studio Name:<br><input type="text" name="studioname"></li>
<li>Studio Address:<br><input type="text" name="studioaddress"></li>
<li>Studio URL:<br><input type="text" name="studiourl"></li>
</ul>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" Value="Save">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" Value="Cancel">
<br><br><br><br>
<hr>
<%= link_to "Home", root_path %>
</body>
</html>